/*.PortfolioBlocks-logo {
	height: 100%;
	width: 95%;
	background-color: black;
	margin: 10px 0px;
}*/

.PortfolioBlocks-water img {
	height: 100%;
	width: 95%;
	background-color: white;
	margin: 10px 0px;
}

.PortfolioBlocks-tree img {
	text-align: center;
	height: 100%;
	width: 90%;
	margin: 10px 0px;
}

.PortfolioBlocks-lion img {
	text-align: center;
	height: 100%;
	width: 90%;
	margin: 10px 0px 0px;
}

.PortfolioBlocks-dice img {
	text-align: center;
	height: 100%;
	width: 90%;
	margin: 10px 0px;
}

.PortfolioBlocks-rose img {
	text-align: center;
	height: 100%;
	width: 90%;
	margin: 10px 0px;
}

.PortfolioBlocks-tower img {
	text-align: center;
	height: 100%;
	width: 90%;
	margin: 10px 0px 0px;
}

.PortfolioBlocks-camera img {
	text-align: center;
	height: 100%;
	width: 90%;
	margin: 10px 0px;
}

.PortfolioBlocks-tracks img {
	text-align: center;
	height: 100%;
	width: 90%;
	margin: 10px 0px;
}

.PortfolioBlocks-clock img {
	text-align: center;
	height: 100%;
	width: 90%;
	margin: 10px 0px 0px;
}