.Portfolio {
  height: 100%;
  background-color: #f2f2f2;
  position: relative;
}

.Portfolio h1 {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-weight: 525;
	font-size: 44px
}

.Portfolio h6 {
	color: #887409;
	text-align: center;
}

.Portfolio .selector {
	text-align: center;
}

.Portfolio button {
	color: white;
	background-color: #2d2c2c;
	border-color: black;
	border-radius: 12px
}

.Portfolio .btn-row {
	text-align: center;
}

.Portfolio .fa-play-circle {
	padding-right: 4px;
}