.AboutMe {
	text-align: center;
	color: white;
	height: 100%;
	background-color: #2d2c2c;
	padding-top: 90px;
}

.AboutMe h1 {
	font-family: 'PT Sans', sans-serif;
	margin: 0px;
}

.AboutMe h6 {
	color: #887409;
	text-align: center;
}

.AboutMe .ipsum-lorem {
	text-align: center;
	padding: 40px 400px;
	color: gray;
}